### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Keys
Keys

# .tfstate files
*.tfstate
*.tfstate.*

### Terraform ###
# Local .terraform directories
**/.terraform/*
**/.terraform.*.*/*
.terraform.*.*